@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=Roboto+Slab:wght@300;400;700&display=swap");
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin underlineAnimation {
  &:not(.nav-active)::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:not(.nav-active):hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
/* Color styles */
$black: hsla(0, 0%, 13.7%, 1);
$pale-orange: hsla(34, 37.7%, 88%, 1);
$accent-red: hsla(357, 77.7%, 54.3%, 1);

/* Text-size styles */
$heading-1: 4rem;
$heading-2: 3rem;
$heading-3: 2rem;
$regualr-paragraph: 1.5rem;
$small-paragraph: 1.25rem;

$lobster: "Lobster Two", cursive;
$roboto: "Roboto Slab", serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: $black;
  font-family: $roboto;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 85%;
  max-width: 1200px;
}

header {
  background-color: $accent-red;
  font-family: $lobster;
  color: white;
  @include flexCenter();
  padding: 3em 0;
  max-height: 10vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 20px;
}

.nav-active {
  border-bottom: 2px solid white;
}

.nav-item {
  display: inline-block;
  position: relative;
  font-size: $regualr-paragraph;
  font-family: $lobster;
  cursor: pointer;
  @include underlineAnimation();
}

.logo {
  font-size: $heading-2;
  color: white;
}

.landing-image {
  width: 100%;
  max-height: 60vh;
  object-fit: cover;
}

.welcome-section {
  background-color: $pale-orange;
  color: $black;
  @include flexCenter();
  padding: 15em 0;
}
.welcome-text {
  max-width: 700px;
}
.welcome-title {
  font-size: $heading-2;
}
.welcome-paragraph {
  max-width: 600px;
  font-size: $regualr-paragraph;
}

.working-hours {
  background-color: $accent-red;
  color: white;
  @include flexCenter();
  padding: 10em 0;
}
.working-hours-title {
  font-size: $heading-2;
  text-align: center;
  margin-bottom: 2em;
}
.working-schedule {
  display: flex;
  flex-direction: column;
  font-size: $regualr-paragraph;
  text-align: center;
  gap: 24px;
}
.schedule-hours {
  line-height: 2em;
}

footer {
  padding: 2.5em 0;
  @include flexCenter();
}
.attribution {
  text-align: center;
  color: $black;
  a {
    color: $accent-red;
  }
}
